Question1
Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.
Examples
filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

Question2
Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...
Examples
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

Question3
Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

Examples
cone_volume(3, 2) ➞ 12.57

cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

Question4
This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the
sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

Question5
Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [2]:
#-->1
def filter_list(lst):
    return [i for i in lst if type(i) == int]

lst = input("Enter a list of strings and integers: ").split()
lst = [int(i) if i.isdigit() else i for i in lst]
print(filter_list(lst))

Enter a list of strings and integers: 1,2,3,a,4
[]

In [6]:
#-->2
def add_indexes(lst):
    return [i+lst[i] for i in range(len(lst))]

lst = input("Enter a list of numbers: ").split()
lst = [int(i) for i in lst]
print(add_indexes(lst))

Enter a list of numbers: 0 0 0 0 0
[0, 1, 2, 3, 4]

In [7]:
#-->3
import math

def cone_volume(height, radius):
    return round(math.pi * radius**2 * height / 3, 2)

height = float(input("Enter the height of the cone: "))
radius = float(input("Enter the radius of the cone: "))
print(cone_volume(height, radius))

Enter the height of the cone: 12
Enter the radius of the cone: 3
113.1

In [8]:
#-->4
def triangle(n):
    return n*(n+1)//2

n = int(input("Enter a number: "))
print(triangle(n))

Enter a number: 3
6

In [9]:
#-->5
def missing_num(lst):
    return sum(range(1,11)) - sum(lst)

lst = input("Enter a list of numbers between 1 and 10 (excluding one number): ").split()
lst = [int(i) for i in lst]
print(missing_num(lst))

Enter a list of numbers between 1 and 10 (excluding one number): 2 3 4 5 6 7 8 9
11